<%- include("../partials/header") %> 



<div class="container limitedDisplay">
    <br>    
    <a class="mx-2 float-right" href="/menu/<%= menuItem._id %>/edit"><i class="fas fa-edit"></i></a>
    <a class="mx-4" href="/menu"><i class="fas fa-arrow-left"></i> Back</a>
    <div class="card bg-light m-2" style="width: 100%;">
        <img class="card-img-top" alt= "<% menuItem.name %> image"  src="/images/<%= menuItem.image %>">

        <div class="card-body">
            <h4 class="float-right">$<%= menuItem.price %></h4>
            <h4 class="card-title"><%= menuItem.name %></h4>
            <p class="card-text"><%= menuItem.description %></p>
            <% if(!menuItem.inStock) { %> 
                <p class="card-text outOfStockNotification">Out Of Stock</p>
            <% } %> 
        </div>

    </div>
</div>


<%- include("../partials/footer") %> 