<%- include("../partials/header") %> 



<div class="container limitedDisplay">
    <br>
    <% if(currentUser && currentUser.isAdmin) { %> 
        <a class="mx-2 float-right" href="edit"><i class="fas fa-edit"></i></a>
    <% } %> 
    <a class="mx-4" href="/menu"><i class="fas fa-arrow-left"></i> Back</a>
    <div class="card bg-light"  id="menuItemCard" style="width: 100%;">
        <img class="card-img-top" alt= "<% menuItem.name %> image"  src="/images/<%= menuItem.image %>">

        <div class="card-body">
            <h4 class="float-right">$<%= menuItem.price %></h4>
            <h4 class="card-title"><%= menuItem.name %></h4>
            <p class="card-text"><%= menuItem.description %></p>
            <% if(!menuItem.inStock) { %> 
                <span class="card-text outOfStockNotification">Out Of Stock</span>
            <% } %> 

            <form action="/cart" method="POST" id="addToCartForm">
                <input type="hidden" name="productId" value=<%= menuItem._id %>>
                <input type="number" name="quantity" value="1" step="1" min="0" max="10" >
            <button class="btn btn-success btn-sm" <% if(!menuItem.inStock) { %>disabled<% } %> >Add To Cart</button>
            </form>

            <% if(currentUser && currentUser.isAdmin) { %> 
            <form action="/menu/<%= menuItem._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you would like to delete this item from the menu?');">Delete From Menu</button>
            </form>
        <% } %>
        </div>

    </div>
</div>


<%- include("../partials/footer") %> 